/*background*/
body{
	background-image: url("../images/concrete-texture/concrete-texture.png");
	background-repeat: repeat;
}

/*header:containing student name and navigation links*/
header{
	background-color: #ffffff;
	margin-bottom: 40px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
}

/*header content area*/
.header{
	position: relative;
	width: 960px;
	height: 80px;
	margin: auto;
	overflow: hidden;
}

.name{
	background-color: #4aaaa5;
	padding: 0px 20px 50px 20px;
	color: #ffffff;
	font-family: 'Georgia', Times, Times New Roman, serif;
	float:left;
}

.links{
	position: absolute;
	right: 0px;
	top: 40%;
	padding: 0px;
	font-size: 16px;
}

/*heading font*/
.georgiafont{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 30px;
	color: #4aaaa5;
	border-color: #dddddd;
	border-bottom-style: solid;
	padding-bottom: 25px;
}

/*body font*/
.arialfont{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 30px;
	color: #777777;
}

/*sidebar font*/
.sbgeorgiafont{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 20px;
	color: #4aaaa5;
	border-color: #dddddd;
	border-bottom-style: solid;
	padding-bottom: 25px;
}

/*borders and formatting for navigation links*/
.rightborder{
	padding: 0px 20px 0px 20px;
	border-right-style: solid;
	border-right-width: .5px;
	border-right-color: #cccccc;
}

.leftpadding{
	padding-left: 20px;
}

/*footer with copywrite and student name*/
footer{
	clear: both;
	height: 80px;
	background-color: #666666;
	margin-top: 40px;
	border-top-style: solid;
	border-top-width: 10px;
	border-top-color:#4aaaa5;
	color: lightgray;
	text-align: center;
/*sticky footer*/
	position: sticky;
	bottom: 0;
}

/*main content area including body and side bar*/
.maincontent{
	width: 960px;
	margin: auto;
	position: relative;
}

/*body container*/
.body{
	background-color: #ffffff;
	border-style: solid;
	border-color:#dddddd;
	width: 570px;
	float: left;
	padding: 0px 40px 40px 40px;
	margin-right: 48px;
	margin-bottom: 40px;
}

/*Index photo*/
.floatleft{
	float: left;
	padding-right: 20px;
}

/*portfolio links*/
.portfoliolink{
/*	border-style: solid;
	border-color:red;*/
	position: relative;
	float: left;
	padding: 0px 7px 0px 7px;
	margin-bottom: 15px;
}

.portfoliodescription{
	background-color: #4aaaa5;
	padding: 10px 0px 10px 0px;
	color: white;
	text-align: center;
	width: 270px;
	position: absolute;
	bottom: 0;
}

/*Sidebar heading and logos*/
.sidebar{
	background-color: #ffffff;
	border-style: solid;
	border-color: #dddddd;
	width:190px;
	padding: 20px 30px 30px 30px;
	position: absolute;
	top: 0;
	right: 0;
	height: 150px;
}

.logoleft{
	width: 60px;
	height: 60px;
	position: absolute;
	left:30px;
}

.logomiddle{
	width: 60px;
	height: 60px;
	position:absolute;
	left: 39%;
}

.logoright{
	width: 54px;
	height: 54px;
	position: absolute;
	right: 30px;
	top: 105px;
}